<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<div class="row" id="addVievIt" th:fragment="addviev">

    <!--Отключение стрелочек-->
    <style>
        #formItContract input[type="number"] {
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            appearance: textfield;
        }

        #formItContract input[type="number"]::-webkit-outer-spin-button,
        #formItContract input[type="number"]::-webkit-inner-spin-button {
            display: none;
        }
    </style>


    <div class="col-2"></div>

    <div class="col-8">
        <form enctype="multipart/form-data" method="post" id="formItContract">

            <div class="row mb-1 mt-3 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center">Контракт</div>
                    <div class="col-7">
                        <label for="nomGK" class="form-label m-0">Номер/Наименование*</label>
                        <!--<input type="text" class="form-control" id="nomGK" name="nomGK">-->
                        <textarea class="form-control" rows="1" id="nomGK" name="nomGK"></textarea>
                    </div>
                    <div class="col-3">
                        <label for="dateGK" class="form-label m-0">Дата</label>
                        <input type="text" placeholder="дд.мм.гггг" class="form-control datepicker" id="dateGK"
                               name="dateGK">
                    </div>
                </div>
                <div class="col-12 row ">
                    <div class="col-2 align-self-center"></div>
                    <div class="col-7">
                        <label for="kontragent" class="form-label m-0">Контрагент</label>
                        <textarea class="form-control" rows="1" id="kontragent" name="kontragent"></textarea>
                    </div>
                </div>
            </div>

            <hr class="m-0">

            <!--Действие ГК!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <div class="row mb-1 mt-3 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center">Действие ГК</div>
                    <div class="col-3">
                        <label for="dateGKs" class="form-label m-0">дата c</label>
                        <input type="text" placeholder="дд.мм.гггг" class="form-control datepicker" id="dateGKs"
                               name="dateGKs">
                    </div>
                    <div class="col-3">
                        <label for="dateGKpo" class="form-label m-0">дата по</label>
                        <input type="text" placeholder="дд.мм.гггг" class="form-control datepicker" id="dateGKpo"
                               name="dateGKpo">
                    </div>
                </div>
            </div>

            <hr class="m-0">

            <!--Бюджетная классификация-->
            <div class="row mb-1 mt-3 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center"></div>
                    <div class="col-6">
                        <label for="budgetClassification" class="form-label m-0">Бюджетная классификация</label>
                        <select id="budgetClassification" class="form-select selectized">
                            <option value="0" selected>Выберите бюджетную классификацию</option>
                            <option
                                    th:each="d : ${budgetClassification}"
                                    th:text="${d.kod + ' ' + d.name}"
                                    th:value="${d.id}"
                            ></option>
                        </select>
                    </div>
                </div>
            </div>

            <hr class="m-0">

            <!--Статус ГК!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <div class="row mb-1 mt-3 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center"></div>
                    <div class="col-6">
                        <label for="statusGK" class="form-label m-0">Cтатус ГК</label>
                        <select id="statusGK" class="form-select">
                            <option value="" selected>Выберите статус ГК</option>
                            <option value="Действующий">Действующий</option>
                            <option value="Исполнен">Исполнен</option>
                            <option value="Расторгнут">Расторгнут</option>
                        </select>
                    </div>
                </div>
            </div>

            <hr class="m-0">

            <div class="row mb-1 mt-1 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center">Сумма</div>
                    <div class="col-3">
                        <label for="sum" class="form-label m-0">Всего</label>
                        <input
                                class="form-control"
                                type="number"
                                id="sum"
                                name="sum"
                                min="0" step="1" data-bind="value:replyNumber"
                                onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                        />
                    </div>
                </div>
            </div>

            <hr class="m-0">

            <div class="row mb-0 mt-0 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center"></div>
                    <div class="col row">
                        <div class="col-2 align-self-center">1-й квартал</div>
                        <div class="col row">
                            <div class="col-4">
                                <label for="January" class="form-label m-0">Январь</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="January"
                                        name="January"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                            <div class="col-4">
                                <label for="February" class="form-label m-0">Февраль</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="February"
                                        name="February"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                            <div class="col-4">
                                <label for="March" class="form-label m-0">Март</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="March"
                                        name="March"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                        </div>
                        <hr class="mt-1 mb-0">
                    </div>
                </div>
            </div>

            <!--<hr class="m-0">-->

            <div class="row mb-0 mt-0 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center"></div>
                    <div class="col row">
                        <div class="col-2 align-self-center">2-й квартал</div>
                        <div class="col row">
                            <div class="col-4">
                                <label for="April" class="form-label m-0">Апрель</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="April"
                                        name="April"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                            <div class="col-4">
                                <label for="May" class="form-label m-0">Май</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="May"
                                        name="May"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                            <div class="col-4">
                                <label for="June" class="form-label m-0">Июнь</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="June"
                                        name="June"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                        </div>
                        <hr class="mt-1 mb-0">
                    </div>
                </div>
            </div>

            <!--<hr class="m-0">-->

            <div class="row mb-0 mt-0 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center"></div>
                    <div class="col row">
                        <div class="col-2 align-self-center">3-й квартал</div>
                        <div class="col row">
                            <div class="col-4">
                                <label for="July" class="form-label m-0">Июль</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="July"
                                        name="July"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                            <div class="col-4">
                                <label for="August" class="form-label m-0">Август</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="August"
                                        name="August"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                            <div class="col-4">
                                <label for="September" class="form-label m-0">Сентябрь</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="September"
                                        name="September"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                        </div>
                        <hr class="mt-1 mb-0">
                    </div>
                </div>
            </div>

            <div class="row mb-0 mt-0 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center"></div>
                    <div class="col row">
                        <div class="col-2 align-self-center">4-й квартал</div>
                        <div class="col row">
                            <div class="col-4">
                                <label for="October" class="form-label m-0">Октябрь</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="October"
                                        name="October"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                            <div class="col-4">
                                <label for="November" class="form-label m-0">Ноябрь</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="November"
                                        name="November"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                            <div class="col-4">
                                <label for="December" class="form-label m-0">Декабрь</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="December"
                                        name="December"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr class="mt-1 mb-0">

            <div class="row mb-1 mt-1" sec:authorize="hasAnyRole('ROLE_UPDATEAXO','ROLE_READAXO')">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center">Натуральный показатель</div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-4">
                                <label for="sumNaturalIndicators" class="form-label m-0">Ожидаемый показатель</label>
                                <input
                                        class="form-control"
                                        type="number"
                                        id="sumNaturalIndicators"
                                        name="sumNaturalIndicators"
                                        min="0" step="1" data-bind="value:replyNumber"
                                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                />
                            </div>
                        </div>
                        <hr class="mt-1 mb-0">
                        <div class="row">
                            <label for="range" class="form-label">Количество месяцев <strong
                                    id="spanVal">0</strong></label>
                            <input type="range" class="form-range" min="0" max="12" value="0" id="range">
                        </div>
                        <hr class="mt-1 mb-0">
                        <div class="row" id="nt">
                            <div class="row">
                                <div class="col-3  d-none">
                                    <label for="m1" class="form-label m-0">Месяц 1</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m1"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                                <div class="col-3 d-none">
                                    <label for="m2" class="form-label m-0">Месяц 2</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m2"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                                <div class="col-3 d-none">
                                    <label for="m3" class="form-label m-0">Месяц 3</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m3"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                                <div class="col-3 d-none">
                                    <label for="m4" class="form-label m-0">Месяц 4</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m4"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 d-none">
                                    <label for="m5" class="form-label m-0">Месяц 5</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m5"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                                <div class="col-3 d-none">
                                    <label for="m6" class="form-label m-0">Месяц 6</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m6"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                                <div class="col-3 d-none">
                                    <label for="m7" class="form-label m-0">Месяц 7</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m7"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                                <div class="col-3 d-none">
                                    <label for="m8" class="form-label m-0">Месяц 8</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m8"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 d-none">
                                    <label for="m9" class="form-label m-0">Месяц 9</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m9"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                                <div class="col-3 d-none">
                                    <label for="m10" class="form-label m-0">Месяц 10</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m10"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                                <div class="col-3 d-none">
                                    <label for="m11" class="form-label m-0">Месяц 11</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m11"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                                <div class="col-3 d-none">
                                    <label for="m12" class="form-label m-0">Месяц 12</label>
                                    <input
                                            class="form-control"
                                            type="number"
                                            id="m12"
                                            value="0"
                                            min="0" step="1" data-bind="value:replyNumber"
                                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="m-0">

            <!--Ответственный!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <div class="row mb-1 mt-3 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center">Ответственный</div>
                    <div class="col-6">
                        <label for="notificationsSelect" class="form-label m-0">ФИО</label>
                        <select id="notificationsSelect" class="form-select">
                            <option th:each="u : ${notifications}" th:text="${u.name}"
                                    th:value="${u.id_user}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="m-0">
            <!--<hr class="m-0">-->

            <!--            <div class="row mb-1 mt-1 ">
                            <div class="col-12 row ">
                                <div class="col-2 align-self-center">Документы</div>
                                <div class="col">
                                    <textarea class="form-control mt-0"
                                              name="doc" rows="2"></textarea>
                                </div>

                            </div>
                        </div>

                        <hr class="m-0">-->

            <div class="row mb-1 mt-1 ">
                <div class="col-12 row ">
                    <div class="col-2 align-self-center">Загрузка файлов</div>
                    <div class="col">
                        <input class="form-control" type="file"
                               multiple
                               id="itDocuments"
                               name="itDocuments">
                    </div>
                </div>
            </div>

            <div class="row mb-1 mt-1">
                <div class="col-12 row">
                    <div class="col-2 align-self-center"></div>
                    <div class="col-6 fst-italic" id="documentsItViev"></div>
                </div>
            </div>

            <hr class="m-0">

            <div class="row mt-1 ">
                <div class="col-12 row justify-content-center">
                    <div class="col-4 row">
                        <button class="btn btn-dark btn-block" id="addContractIt">Добавить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div
            class="modal fade"
            id="modalKontragent"
            tabindex="-1"
            aria-labelledby="modalKontragentLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-lg" th:fragment="modalKontragent(kontragent2)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalKontragentLabel">Контрагент</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body" th:include="fragment/modalKontragent :: modalKontragent(${kontragent2})">
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                    >
                        Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>