<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="vievTable">

    <div id="tableItContainer" class="overflow-auto mb-2"></div>

    <div id="paginationItContract" th:include="fragment/pagination :: pagination"></div>
</div>

<table class="table table-block table-secondary table-striped
              table-hover table-bordered text-center caption-top table-sm m-0 p-0"
       id="tableContract" th:fragment="table">
    <!--Отключение стрелочек-->
    <style>
        #tableContract input[type="number"] {
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            appearance: textfield;
        }

        #tableContract input[type="number"]::-webkit-outer-spin-button,
        #tableContract input[type="number"]::-webkit-inner-spin-button {
            display: none;
        }

        #tableContract input[type="number"]{
            min-width: 130px;
        }
        #tableContract input[type="date"]{
            max-width: 160px;
        }
        #tableContract textarea{
            min-width: 300px;
        }
    </style>
    <caption>Таблица контрактов</caption>
    <thead>
    <tr>
        <th rowspan="2">№</th>
        <th colspan="3">Государственный контракт</th>
        <th colspan="3">1-й квартал</th>
        <th colspan="3">2-й квартал</th>
        <th colspan="3">3-й квартал</th>
        <th colspan="3">4-й квартал</th>
        <th rowspan="2">Остаток</th>
        <th rowspan="2" style="min-width:200px">Документы</th>
        <th rowspan="2">Действие</th>
    </tr>

    <tr>
        <th style="min-width:200px">Номер</th>
        <th>Дата</th>
        <th>Сумма</th>

        <th>Январь</th>
        <th>Февраль</th>
        <th>Март</th>

        <th>Апрель</th>
        <th>Май</th>
        <th>Июнь</th>

        <th>Июль</th>
        <th>Август</th>
        <th>Сентябрь</th>

        <th>Октябрь</th>
        <th>Ноябрь</th>
        <th>Декабрь</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c,iterStat  : ${contracts}" th:name="${c.id}">
        <th scope="row" align="center" th:text="${iterStat.count} + ${paramstart}"></th>

        <td name="nomGK">
            <span th:text="${c.nomGK}"></span>
            <textarea class="form-control d-none"
                      rows="1"></textarea>
        </td>
        <td name="dateGK">
            <span th:text="${c.getDateGKRu()}"></span>
            <input type="date" class="form-control d-none">
        </td>
        <td name="sum">
            <span th:text="${c.getSumOk()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="January">
            <span th:text="${c.getMonth1Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="February">
            <span th:text="${c.getMonth2Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="March">
            <span th:text="${c.getMonth3Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="April">
            <span th:text="${c.getMonth4Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="May">
            <span th:text="${c.getMonth5Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="June">
            <span th:text="${c.getMonth6Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="July">
            <span th:text="${c.getMonth7Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="August">
            <span th:text="${c.getMonth8Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="September">
            <span th:text="${c.getMonth9Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="October">
            <span th:text="${c.getMonth10Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="November">
            <span th:text="${c.getMonth11Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td name="December">
            <span th:text="${c.getMonth12Ok()}"></span>
            <input
                    class="form-control d-none"
                    type="number"
                    min="0" step="1" data-bind="value:replyNumber"
                    onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
            />
        </td>
        <td th:text="${c.getOstatoc()}"></td>
        <td name="doc">
            <span th:text="${c.documentu}"></span>
            <textarea class="form-control d-none"
                      rows="2"></textarea>
        </td>

        <td>
            <div><a th:name="${c.id}" id="updateItContract" href="#">Изменить</a></div>
            <div><a th:name="${c.id}" id="deleteItContract" href="#">Удалить</a></div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>