<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="kontragent">

    <div class="row">
        <div class="row">
            <div class="col s2 center">
                Наименование
            </div>
            <div class="col s2 center">
                ИНН
            </div>
            <div class="col s2">
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <input id="addNameKontragent" type="text">
            </div>
            <div class="col s2">
                <input id="addINNKontragent" type="text">
            </div>
            <div class="col s2">
                <a class="waves-effect waves-light btn" id="buttonaddKontragent">Добавить</a>
            </div>
        </div>

        <!--<div class="col s6 row">
            <div class="col s4 row">
                <div class="col s6">Значение</div>
                <div class="col s3">
                    <input type="text" id="addznachspisok">
                </div>
            </div>
            <div class="col s4 row">
                <div class="col s6">Значение</div>
                <div class="col s3">
                    <input type="text" id="addznachspisok">
                </div>
            </div>
            <div class="col s4 row">
                <div class="col s12">
                    <a class="waves-effect waves-light btn" id="buttonaddspisok" th:value="${type}">Добавить</a>
                </div>
            </div>


            <div class="col s3">
                <a class="waves-effect waves-light btn" id="buttonaddspisok" th:value="${type}">Добавить</a>
            </div>
        </div>-->
    </div>

    <table>
        <tr>
            <th align="center">Индекс</th>
            <th align="center">Наименование</th>
            <th align="center">ИНН</th>
        </tr>
        <tr th:each="k : ${kontragents}">
            <td  th:text="${k.getName()}">
            </td>
            <td  th:text="${k.getInn()}">
            </td>
            <td>
                <a name="delSpisokKontragent" th:id="${k.getId()}"
                   class="red waves-effect waves-light btn">X</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>