<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="kontragent">
    <form id="addKontrForm">
        <div class="row mb-2 mt-2">
            <div class="col-3">
                <label for="addNameKontragent" class="form-label m-0">Наименование</label>
                <input type="text" class="form-control" id="addNameKontragent" name="name">
            </div>
            <div class="col-3">
                <label for="addINNKontragent" class="form-label m-0">ИНН</label>
                <input type="text" class="form-control" id="addINNKontragent" name="inn">
            </div>
            <div class="col-2 d-flex align-items-end">
                <a class="btn btn-secondary" id="buttonaddKontragent">Добавить</a>
            </div>
        </div>
    </form>

    <table class="table table-block table-secondary table-striped
    table-hover table-bordered text-center caption-top table-sm"
           id="spravKontrTable">
        <caption>Контрагенты</caption>
        <thead>
        <tr>
            <th>Номер п.п</th>
            <th>Наименование</th>
            <th>ИНН</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr th:each="k,iterStat : ${kontragents}">
            <th  th:text="${iterStat.count}">
            </th>
            <td>
                <input class="form-control"
                       th:data-disabledInputKontragent-id="${k.id}"
                       th:value="${k.getName()}"
                       name="disabledInputKontragentName"
                       type="text"
                       disabled readonly>
            </td>
            <td>
                <input class="form-control"
                       th:data-disabledInputKontragent-id="${k.id}"
                       th:value="${k.getInn()}"
                       name="disabledInputKontragentInn"
                       type="text"
                       disabled readonly>
            </td>
            <td>
                <a name="delSpisokKontragent" th:id="${k.getId()}"
                   class="btn btn-secondary">X</a>
            </td>
        </tr>-->
        </tbody>
    </table>
</div>

</body>
</html>