<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div class="row" th:fragment="logout (user)">
    <div class="col-9 text-center align-self-center">
        <h2>Обеспечение исполнения контрактов</h2>
    </div>
    <div class="col">
        <form
                id="logout"
                name="logout"
                th:action="@{/logout}"
                method="post"
        >
            <div class="row row-cols-1">
                <div class="col">
                    <h6 th:text=" 'Пользователь: ' + ${user.login}">
                        Иванов Федор Палкович
                    </h6>
                </div>
                <div class="col">
                    <h6 th:text=" 'Отдел: ' + ${user.name_ondel_zir}">
                        Название отдела
                    </h6>
                </div>
                <div class="col d-flex justify-content-end">
                    <button class="btn btn-secondary" type="submit" id="logout2">
                        Выйти
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--<form th:fragment="logout (user)" id="logout" name="logout"  th:action="@{/logout}" method="post">
    <div class="row">
        <div class="col s9 ">
            <p style="
                        font-style: normal;
                        font-size: 34pt;
                        font-weight: lighter;
                        margin: 0;
                        padding: 0;
                        padding-left: 15px;">
                Обеспечение исполнения контрактов
            </p>
        </div>
        <div class="col s3">
            <div >
                <div align="right"  th:text=" 'Пользователь: ' + ${user.login}"></div>
                <div align="right"  th:text=" 'Отдел: ' + ${user.name_ondel_zir}"></div>
            </div>
            <div align="right">
                <button class="btn waves-effect waves-light"
                        style=" margin: 0px 7px;
                                    padding: 0px 7px;
                                    height: 26px;
                                    line-height: 26px;"
                        type="submit" id="logout2">Выйти
                </button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    </script>
</form>-->

<!--    <form th:fragment="logout (user)" id="logout" name="logout"  th:action="@{/logout}" method="post">
        <div class="row">
            <div class="col s9 ">
                <p style="
                        font-style: normal;
                        font-size: 34pt;
                        font-weight: lighter;
                        margin: 0;
                        padding: 0;
                        padding-left: 15px;">
                    Обеспечение исполнения контрактов
                </p>
            </div>
            <div class="col s3">
                <div >
                    <div align="right"  th:text=" 'Пользователь: ' + ${user.login}"></div>
                    <div align="right"  th:text=" 'Отдел: ' + ${user.name_ondel_zir}"></div>
                </div>
                <div align="right">
                    <button class="btn waves-effect waves-light"
                            style=" margin: 0px 7px;
                                    padding: 0px 7px;
                                    height: 26px;
                                    line-height: 26px;"
                            type="submit" id="logout2">Выйти
                    </button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        </script>
    </form>-->

</body>
</html>
