<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="ttt" th:fragment="menu">
    <!--<ul id="dropdown1" class="dropdown-content">
        <li><a th:href="@{/main}">Делопроизводство</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/main}">Обращение граждан</a></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
        <li><a th:href="@{/main}">Болгария</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/main}">Правопреемники</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/main}">Иное</a></li>
    </ul>

    <ul id="dropdown3" class="dropdown-content">
        <li><a th:href="@{/main}">Реестр №1</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/main}">Реестр №2</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/main}">Отчет по конвертам</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/main}">Отчет марки и конверты</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/main}">Авансовый отчет</a></li>
    </ul>

    <ul id="dropdown4" class="dropdown-content">
        <li><a th:href="@{/umik/main/spravkonv}">Справочник конвертов</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/umik/main/vidanykonv}">Выданы конверты</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/umik/main/prihod}">Приход конверты</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/umik/main/prihodmarki}">Приход марки</a></li>
        <li class="divider"></li>
    </ul>

    <ul id="dropdown5" class="dropdown-content">
        <li><a th:href="@{/umik/main/history}">История отчетов</a></li>
        <li class="divider"></li>
    </ul>-->

    <nav>
        <div class="nav-wrapper row">
            <ul class="left hide-on-med-and-down col s12 row">
                <li class="col s2 center center-align">
                    <a th:href="@{/contract/main}">
                        Главная</a>
                </li>
                <li class="col s2 center center-align">
                    <!--<a th:href="@{/contract/add}">Добавить</a>-->
                    <a href="#" id="menuAdd">Добавить</a>
                </li>
                <li class="col s2 center center-align">
                    <!--<a th:href="@{/contract/viev}">Просмотр</a>-->
                    <a href="#" id="menuViev">Просмотр</a>
                </li>
<!--                <li class="col s2 center center-align">
                    <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                        Письма ПЭД</a>
                </li>
                <li class="col s2 center center-align">
                    <a class="dropdown-trigger" href="#!" data-target="dropdown2">
                        Письма не ПЭД</a>
                </li>
                <li class="col s2 center center-align">
                    <a class="dropdown-trigger" href="#!" data-target="dropdown3">
                        Реестры и отчеты</a>
                </li>
                <li class="col s3 center center-align">
                    <a class="dropdown-trigger" href="#!" data-target="dropdown4">
                        Справочная информация</a>
                </li>
                <li class="col s2 center center-align">
                    <a class="dropdown-trigger" href="#!" data-target="dropdown5">
                        История</a>
                </li>-->
            </ul>
        </div>
    </nav>
</div>


</body>
</html>