<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<!-- Modal -->
<div class="modal-body" th:fragment="modalKontragent(kontragent2)">
    <div class="row">
        <div class="col-6">
            <label class="form-label m-0" for="nameModalKontragent">Наименование контрагента</label>
            <input class="form-control" id="nameModalKontragent" type="text">
        </div>
        <div class="col-6">
            <label class="form-label m-0" for="innModalKontragent">ИНН</label>
            <input class="form-control" id="innModalKontragent" type="text">
        </div>
    </div>


    <div id="dliazamenyKontragentTable" class="pt-2">
        <!--th:include="fragment/modalKontragent :: modalKontragentTable">-->
    </div>

    <div id="MKpagination" th:include="fragment/pagination :: pagination"></div>

</div>


<div th:fragment="modalKontragentTable">
    <table class="table table-sm table-block table-light table-striped
    table-hover table-bordered text-center caption-top"
           id="kontragentTableVibor">
        <thead>
        <tr>
            <td>Наименование контрагента</td>
            <td>ИНН</td>
            <td>Выбор</td>
        </tr>
        </thead>

        <tbody>
        <!--        <tr th:each="k : ${kontragent2}">
                    <td th:text="${k.name}"></td>
                    <td th:text="${k.inn}"></td>
                    <td><a class="btn btn-link" th:data-id-modal-kontragent="${k.id}" data-bs-dismiss="modal">Выбрать</a></td>
                </tr>

                <tr th:each="u : ${users}">
                    <td th:text="${u.login}"></td>
                </tr>-->
        </tbody>
    </table>
</div>

<table
        class="table table-block table-sm table-secondary table-striped table-hover table-bordered text-center"
        th:fragment="tableContractDop">
    <caption>Доп. информация</caption>
    <thead>
    <tr>
        <th rowspan="2">Дата исполнения контракта</th>
        <th rowspan="2">Расчетная дата</th>
        <th colspan="2">Заявка на возврат</th>
        <th rowspan="2">Ответственные</th>
        <th rowspan="2">Прикрепленные файлы</th>
    </tr>
    <tr>
        <th>Номер</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    <!--    <tr>
            <td th:text="${contract.getDate_ispolnenija_GK()}"></td>
            <td th:text="${contract.getRaschet_date()}"></td>
            <td th:text="${contract.nomerZajavkiNaVozvrat}"></td>
            <td th:text="${contract.getDateZajavkiNaVozvrat()}"></td>
            <td>
                <table class="text-center table table-block table-sm table-borderless">
                    <tr th:each="n : ${contract.notifications}">
                        <td th:text="${n.name}"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="text-center table table-block table-sm table-borderless">
                    <tr th:each="d : ${contract.myDocuments}">
                        <td>
                            <a
                                    class="btn btn-link"
                                    th:href="@{/contract/main/download(id=${d.id})}"
                                    th:text="${d.nameFile}"
                            ></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>-->
    </tbody>
</table>

</body>
</html>