<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="vievTable">
    <p>
        <button
                class="btn btn-outline-secondary m-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample">
            Поиск
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="row">
                <div class="col-2">
                    <input
                            class="form-control m-1"
                            type="text"
                            data-name="poleFindByNomGK"
                            placeholder="Номер ГК"/>
                    <input
                            class="form-control m-1"
                            type="text"
                            data-name="poleFindByINN"
                            placeholder="ИНН"/>
                </div>
                <div class="col-2 text-center align-self-center">
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                data-name="poleFindByIspolneno"
                                id="poleFindByIspolneno"
                                checked/>
                        <label class="form-check-label" for="poleFindByIspolneno">
                            Исполнено
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="poleFindByNotIspolneno"
                                data-name="poleFindByNotIspolneno"
                                checked/>
                        <label class="form-check-label" for="poleFindByNotIspolneno">
                            Не исполнено
                        </label>
                    </div>
                </div>
                <div class="col-2 text-center align-self-center">
                    <button
                            class="btn btn-dark"
                            type="button"
                            aria-expanded="false"
                            name="findContract">
                        Найти
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="tableContainer" th:insert="fragment/table :: table"></div>

    <div id="pagination" th:include="fragment/pagination :: pagination"></div>

    <!-- Modal -->
    <div
            class="modal fade"
            id="modalDopContainer"
            tabindex="-1"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Дополнительная информация</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" id="modalDopContainerContent"></div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<table class="table table-block table-secondary table-striped table-hover
        table-bordered text-center caption-top table-sm"
       id="tableContract" th:fragment="table">
    <caption>Таблица контрактов</caption>
    <thead>
    <tr>
        <th rowspan="2">№</th>
        <th colspan="2">Платежное поручение</th>
        <th rowspan="2">Контрагент</th>
        <th colspan="3">Государственный контракт</th>
        <th rowspan="2">Вид обеспечения</th>
        <th rowspan="2">Сумма</th>
        <th rowspan="2">Отметка об исполнении</th>
        <th rowspan="2">Действие</th>
    </tr>

    <tr>
        <th>Номер</th>
        <th>Дата</th>

        <th>Номер</th>
        <th>Дата</th>
        <th>Краткое содержание</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr th:each="c,iterStat  : ${contracts}" th:id="${c.id}">
        <th scope="row" align="center" th:text="${iterStat.count} + ${paramstart}"></th>
        <td th:text="${c.plat_post}"></td>
        <td th:text="${c.getReceipt_date()}"></td>
        <td>
            <table class="text-center table table-block table-sm table-borderless">
                <tr th:each="k : ${c.kontragent}">
                    <td th:text="${k.getNameInn()}"></td>
                </tr>
            </table>
        </td> &lt;!&ndash;вид обеспечения&ndash;&gt;
        <td th:text="${c.nomGK}"></td>
        <td th:text="${c.getDateGK()}"></td>
        <td th:text="${c.predmet_contract}"></td>
        <td>
            <table class="text-center table table-block table-sm table-borderless">
                <tr th:each="v : ${c.vidObesp}">
                    <td th:text="${v.name}"></td>
                </tr>
            </table>
        </td> &lt;!&ndash;вид обеспечения&ndash;&gt;
        <td th:text="${c.getSum()}"></td>
        <td>
            <label>
                <input type="checkbox" class="form-check-input"
                       th:name="${c.getId()}" th:id="checkboxIspolneno"
                       th:checked="${c.ispolneno}"/>
                <span class="marginonospan"></span>
            </label>
            <div th:data-progress-id="${c.getId()}">
                <div th:insert="fragment/table :: progress (${c})"></div>
            </div>
        </td>
        <td>
            <div><a data-bs-toggle="modal"
                    data-bs-target="#modalDopContainer"
                    href="#!"
                    data-a-dop-modal="dataADopModal"
                    th:name="${c.id}">
                Доп.информация
            </a></div>
            <div><a th:name="${c.id}" id="updateContract" href="#">Изменить</a></div>
            <div><a th:name="${c.id}" id="deleteContract" href="#">Удалить</a></div>
        </td>

    </tr>-->
    </tbody>
</table>

<div th:fragment="progress(c)" class="progress" th:title="'Осталось ' + ${c.getDaysOst()} + ' дней'">
    <!--progress-bar-animated-->

    <div th:class=" 'progress-bar ' +
                (${c.ispolneno}? 'bg-success' :
                (${(c.getDaysOst()<=4 && c.getDaysOst()>=0)}? 'bg-danger progress-bar-striped ' :
                (${(c.getProcent()>=75)}? 'bg-danger' :
                (${c.getProcent()>=50}? 'bg-warning' :
                (${c.getProcent()>=25}? 'bg-info'
                )))))"

         role="progressbar"
         th:style="'width: ' + (${c.ispolneno}? '100' : ${c.getProcent()}) + '%'"
         th:aria-valuenow="(${c.ispolneno}? '100' : ${c.getProcent()})"
         aria-valuemin="0"
         aria-valuemax="100"

         th:text="'' + ( ${(c.ispolneno)}? '' :
                    ${c.getDaysOst()}) "
    ></div>
</div>

</body>
</html>