<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="spisokfrag">

    <form id="addVisObespForm">
        <div class="row mb-2 mt-2">
            <div class="col-6 row">
                <div class="col-6">
                    <label for="addznachspisok" class="form-label m-0">Наименование</label>
                    <input type="text" class="form-control" id="addznachspisok" name="name">
                </div>
                <div class="col-6 d-flex align-items-end">
                    <a class="btn btn-secondary" id="buttonaddspisokrsp" th:value="${type}">Добавить</a>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-block table-secondary table-striped table-hover table-bordered text-center caption-top table-sm"
           id="vidObespRspTable">
        <caption>Вид обеспечения</caption>
        <thead>
        <tr>
            <th>Номер п.п</th>
            <th>Данные</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="v,iterStat : ${vidObesps}">
            <th th:text="${iterStat.count}">
            </th>
            <td>
                <input class="form-control"
                       th:data-disabledInputVidObesps-id="${v.id}"
                       th:value="${v.getName()}"
                       name="disabledInputVidObesps"
                       type="text"
                       disabled readonly>
            </td>
            <td>
                <a name="delSpisok" th:id="${v.getId()}" th:value="${type}"
                   class="btn btn-secondary">X</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>