<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/dist/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            let body = $("body");

            body.on('keyup', 'input', function() {
                let param = "name=" + $("#nameModalKontragent").val() +
                    "&inn=" + $("#innModalKontragent").val();
                if ($(this).attr('id') === "nameModalKontragent") {
                    $("#dliazamenyKontragentTable").load("/contract/main/kontragent/findKontragent", param, function () {
                        clearPaginationMK();
                    });
                }
                if ($(this).attr('id') === "innModalKontragent") {
                    $("#dliazamenyKontragentTable").load("/contract/main/kontragent/findKontragent", param, function () {
                        clearPaginationMK();
                    });
                }
            });

            body.on('click', 'button', function () {

                if ($(this).attr('data-bs-target') === "#modalKontragent") {
                    let param = "param=1";
                    $("#dliazamenyKontragentTable").load("/contract/main/kontragent/modalKontragentViev", param, function () {
                        clearPaginationMK();
                    });
                }

                if ($(this).attr('data-name-doc') === "delDoc") {
                    let id = $(this).attr('data-id-doc');
                    let param = "id="+id;
                    let token = $('#_csrf').attr('content');
                    let header = $('#_csrf_header').attr('content');
                    $.ajax({
                        url: '/contract/main/delDoc',
                        method: 'post',
                        data: param,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success: function(data){
                            $("div[data-id-doc="+id+"]").remove();
                            $("a[data-id-doc="+id+"]").remove();
                            initialToats("Удаление прошло успешно",data,"success").show();
                        },
                        error: function(textStatus){
                            initialToats("Ошибка при удалении документа!!!",textStatus,"err").show();
                            console.log('ОШИБКИ AJAX запроса при удалении документа: ' + textStatus);
                        }
                    });
                    return false;
                }

                if ($(this).attr('name') === "findContract") { //поиск
                    let param = "poleFindByNomGK=" + $("[data-name=poleFindByNomGK]").val() +
                        "&poleFindByINN=" + $("[data-name=poleFindByINN]").val() +
                        "&poleFindByIspolneno=" + $('[data-name=poleFindByIspolneno]').prop("checked") +
                        "&poleFindByNotIspolneno=" + $('[data-name=poleFindByNotIspolneno]').prop("checked");
                    console.log("findContract param = ", param);
                    $("#tableContainer").load("/contract/main/findTable", param, function () {
                        clearPagination1();
                    });
                    return false;
                }

                if ($(this).hasClass('minusNotif')) { //удалить уведомление
                    $("#notifications #" + $(this).attr('name')).detach();
                    return false;
                }
            });

            body.on('click', 'a', function () {

                if ($(this).attr('id') === "notificationsVibor") {
                    console.log("notificationsVibor");
                    let val = $("#notificationsSelect").val();
                    if($("#notifications div").is('#' + val)){
                        alert("Вы уже добавили этого человека!");
                    } else {
                        let notif = $("#notifications");
                        notif.html(notif.html() +

                            "<div class='mb-1' id='" + val + "'>" +
                            $("#notificationsSelect option:selected").text() +
                            "<button class='btn btn-secondary btn-sm minusNotif' type='button' " +
                            "name=" + val + ">X</button></div>")
                    }
                    return false;
                }

                /*кнопка выбрать в модальной форме*/
                if (typeof $(this).attr('data-id-modal-kontragent') !== 'undefined' &&
                    $(this).attr('data-id-modal-kontragent') !== false) {
                    console.log("кнопка выбрать в модальной форме")
                    let id = $(this).attr('data-id-modal-kontragent');
                    $('#kontragent').val(id);
                    return false;
                }

                if ($(this).attr('id') === "menuViev") { //Кнопка просмотр
                    loadMenuView();
                    return false;
                }


                if ($(this).attr('id') === "deleteContract") { //Удалить контракт
                    if (confirm("Вы точно хотите удалить заявление c порядковым номером = " +
                        $(this).parents("#" + $(this).attr('name')).children().eq(0).text())){

                        let param = "id="+$(this).attr('name');
                        let token = $('#_csrf').attr('content');
                        let header = $('#_csrf_header').attr('content');
                        $.ajax({
                            url: '/contract/main/deleteContract',
                            method: 'post',
                            data: param,
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success: function(data){
                                param = "param=" + activeList("#pagination");//чтобы при удалении осталась текущая страница
                                $("#tableContainer").load("/contract/main/getTable", param, function () {
                                });
                                initialToats("Удаление прошло успешно",data,"success").show();
                            },
                            error: function(textStatus){
                                initialToats("Ошибка!!!",textStatus,"err").show();
                                //console.log('ОШИБКИ AJAX запроса: ' + textStatus);
                            }
                        });
                    }
                    return false;
                }

                if ($(this).attr('id') === "menuAdd") { //Добавить контракт
                    $("#mainContainer").load("/contract/main/add", "", function () {
                        $("#containerNotification").load("/contract/main/getnotification", "", function () {
                        });

                        let token = $('#_csrf').attr('content');
                        let header = $('#_csrf_header').attr('content');
                        $.ajax({
                            url: '/contract/main/dopnotification',
                            method: 'post',
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success: function(data) {
                                if(!$.isEmptyObject(data)) {
                                    for (let notif of data.notifications) {
                                        let dv = $("#notifications");
                                        dv.html(
                                            dv.html() + getDopNotifHtml(notif.name, notif.id_user)
                                        );
                                    }
                                }
                            },
                            error: function(textStatus){
                            }
                        });
                    });
                    return false;
                }

                if ($(this).attr('id') === "updateContract") {
                    console.log("update");
                    let param = "id="+$(this).attr('name');

                    $("#mainContainer").load("/contract/main/updateViev", param, function () {
                        $("#containerNotification").load("/contract/main/getnotification", "", function () {

                            let token = $('#_csrf').attr('content');
                            let header = $('#_csrf_header').attr('content');
                            $.ajax({
                                url: '/contract/main/getContract',
                                method: 'post',
                                data: param,
                                beforeSend: function(xhr) {
                                    xhr.setRequestHeader(header, token);
                                },
                                success: function(data){
                                    $("#addContracts").attr("data-id-contract",data.contract.id)
                                    $('input[name=receipt_date]').val(data.contract.receipt_date);
                                    $('input[name=plat_post]').val(data.contract.plat_post);
                                    $('input[name=nomGK]').val(data.contract.nomGK);
                                    $('input[name=dateGK]').val(data.contract.dateGK);
                                    $('[name=predmet_contract]').val(data.contract.predmet_contract);

                                    console.log("predmet_contract",data.contract.predmet_contract);

                                    let kontragent = data.contract.kontragent;
                                    if(kontragent!==""){
                                        $("#kontragent option[value="+data.contract.kontragent+"]").prop("selected","true");
                                    }
                                    let vidObesp = data.contract.vidObesp;
                                    if(vidObesp!==""){
                                        $("#vidObesp option[value="+data.contract.vidObesp+"]").prop("selected","true");
                                    }
                                    $('input[name=sum]').val(data.contract.sum);
                                    $('input[name=date_ispolnenija_GK]').val(data.contract.date_ispolnenija_GK);
                                    $('input[name=col_days]').val(data.contract.col_days);
                                    $('input[name=nomerZajavkiNaVozvrat]').val(data.contract.nomerZajavkiNaVozvrat);
                                    $('input[name=dateZajavkiNaVozvrat]').val(data.contract.dateZajavkiNaVozvrat);
                                    $('#checkboxAddUpdate').prop("checked", data.contract.ispolneno==="true");

                                    $('#addContracts').text("Изменить");

                                    for (let notif of data.notifications) {
                                        let dv = $("#notifications");
                                        dv.html(
                                            dv.html() + getDopNotifHtml(notif.name, notif.id_user)
                                        );
                                    }

                                    for (let doc of data.documents) {
                                        let dv = $("#documentsViev");
                                        dv.html(
                                            dv.html() +
                                            "<div class='mb-1' data-id-doc='" + doc.id + "'>"+doc.nameFile + " " +
                                            "<button class='btn btn-secondary btn-sm' " +
                                            "data-id-doc='" + doc.id + "' data-name-doc='delDoc'>X</button>" +
                                            "</div>"
                                        );
                                    }
                                },
                                error: function(textStatus){
                                    initialToats("Ошибка!!!",textStatus,"err").show();
                                    console.log('ОШИБКИ AJAX запроса: ' + textStatus);
                                }
                            });
                        });
                    });
                    return false;
                }

                if ($(this).attr('data-a-dop-modal')==="dataADopModal") {
                    let param = "id="+$(this).attr('name');
                    $("#modalDopContainerContent").load("/contract/main/dopTable", param, function () {
                    });
                    return false;
                }

                //переключатели страниц pagination
                if ($(this).parents("#pagination").attr("id") === "pagination") {
                    let list = clickPagination($(this),"#pagination");
                    let param = "param=" + list;
                    $("#tableContainer").load("/contract/main/getTable", param, function () {
                    });
                }

                //переключатели страниц MKpagination
                if ($(this).parents("#MKpagination").attr("id") === "MKpagination") {
                    let list = clickPagination($(this),"#MKpagination");
                    let param = "param=" + list;
                    $("#dliazamenyKontragentTable").load("/contract/main/kontragent/modalKontragentViev", param, function () {
                    });
                }

            });

            //checkBox в таблице
            body.on('click', 'input', function () {
                if ($(this).attr('id') === "checkboxIspolneno") {
                    let bool = $(this).prop("checked");
                    let id = $(this).attr("name");
                    let token = $('#_csrf').attr('content');
                    let header = $('#_csrf_header').attr('content');

                    let param = "id=" + id +
                        "&ispolneno=" + bool;
                    console.log(param)
                    $.ajax({
                        url: '/contract/main/setIspolneno',
                        method: 'post',
                        data: param,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success: function(data){
                            param = "id=" + id;
                            $("[data-progress-id=" + id + "]").load("/contract/main/getProgress", param, function () {
                            });
                            initialToats("Изменение статуса прошло успешно",data,"success").show();
                        },
                        error: function(textStatus){
                            initialToats("Ошибка в изменении статуса!!!",textStatus,"err").show();
                            console.log('ОШИБКИ AJAX запроса: ' + textStatus);
                        }
                    });
                }
            });


        });

        //переключатели страниц
        function clearPagination1() { // определяем функцию и ее механизм выполнения
            clearPagination($("#pagination a"));
        }


        function clearPaginationMK() { // определяем функцию и ее механизм выполнения
            clearPagination($("#MKpagination a"));
        }

        function getDopNotifHtml(name, id) {
            return "<div class='mb-1' id='" + id + "'>" + name + " " +
                "<button class='btn btn-secondary btn-sm minusNotif' " +
                "name='" + id + "' type='button'>X</button>" +
                "</div>";
        }

        function getSpinner() {
            return "<div class='d-flex justify-content-center m-2'>" +
                "<div class='spinner-border' role='status'>" +
                "<span class='visually-hidden'>Загрузка...</span>" +
                "</div>" +
                "</div>";
        }
        function getSpinnerButton() {
            return '<span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>';
        }


        function loadMenuView(param){
            console.log('param = ',param);
            let mainContainer = $("#mainContainer");
            mainContainer.html(getSpinner());
            mainContainer.load("/contract/main/vievTable", "", function () {
                let tableContainer = $("#tableContainer")
                tableContainer.html(getSpinner());
                tableContainer.load("/contract/main/getTable", param, function () {
                });
            });
        }

        function logObj(obj) { //для вывода обьектов в лог
            let str = "";
            for(k in obj) {
                str += k+": "+ obj[k]+"\r\n";
            }
            console.log(str);
        }

    </script>

    <script type="text/javascript" th:src="@{/js/pagination.js}"></script>
    <script type="text/javascript" th:src="@{/js/documents.js}"></script>
    <script type="text/javascript" th:src="@{/js/spisok.js}"></script>
    <script type="text/javascript" th:src="@{/js/kontragent.js}"></script>
    <script type="text/javascript" th:src="@{/js/wrapper.js}"></script>
    <script sec:authorize="hasRole('ROLE_UPDATE')" type="text/javascript" th:src="@{/js/stat.js}"></script>
    <script sec:authorize="hasAnyRole('ROLE_UPDATEIT','ROLE_READIT')" type="text/javascript" th:src="@{/js/it.js}"></script>
    <script sec:authorize="hasAnyRole('ROLE_UPDATEAXO','ROLE_READAXO')" type="text/javascript" th:src="@{/js/axo.js}"></script>

    <title>Обеспечение исполнения контрактов</title>
    <!--<link rel="stylesheet" th:href="@{/styles/full.css}">--><!--мои локальные стили-->
</head>
<body class="bg-dark" style="--bs-bg-opacity: .05;">

<div class="container-fluid p-0" ><!--container-xxl-->

    <div th:insert="fragment/menu :: menu"></div>

    <div id="mainContainer"></div>

    <!--TOASTS-->
    <div class="toast-container position-absolute p-3 bottom-0 end-0">
    </div>

</div>



<script type="text/javascript" src="/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let options = {
        animation : true,
        autohide : false,
        delay : 2000,
    };

    function initialToats(header, message, type) {
        let i = 0;
        let tcs = $(".toast-container .show");
        let tc = $(".toast-container");
        if(tcs.last().attr('id') !== undefined) {
            i = +(tcs.last().attr('id').slice(-1))+1;
        } else {
            tc.html(""); //очистить контейнер
        }
        tc.html(tc.html() + getToats(i))

        //console.log("i = ",i);

        let myToast = $("#myToast"+i);

        const date = new Date();
        $('#myToastTime'+i).text(date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds());
        $('#myToastHeaderMes'+i).text(header);
        $('#myToastMessage'+i).text(message);

        switch (type) {
            case "err":
                myToast.addClass("bg-danger");
                $('#myToastHeader'+i).addClass("bg-danger");
            break;
            case "success":
                myToast.addClass("bg-success");
                $('#myToastHeader'+i).addClass("bg-success");
            break;
        }

        let toast = new bootstrap.Toast(myToast, options);

        //myToastHide();
        myToastHide("#myToast"+i);

        return toast;
    }

    function myToastHide(myToast){
        setTimeout( function () {
            $(myToast).removeClass("show");
        }, 7000);
    }

/*    function myToastHide(){
        setTimeout( function () {
            $(".toast-container .show").first().removeClass("show");
        }, 7000);
    }*/

    function getToats(id) {
        return "<div id='myToast" + id + "' class='toast hide' role='alert' aria-live='assertive' aria-atomic='true' style='--bs-bg-opacity: .2;'>" +
            "<div class='toast-header bg-gradient text-white' id='myToastHeader" + id + "'>" +
            "<strong class='me-auto' id='myToastHeaderMes" + id + "' style='--bs-bg-opacity: .3;'></strong>" +
            "<small id='myToastTime" + id + "'></small>" +
            "<button type='button' class='btn-close' data-bs-dismiss='toast' aria-label='Закрыть'></button>" +
            "</div> " +
            "<div class='toast-body' id='myToastMessage" + id + "' >" +
            "</div>" +
            "</div>";
    }
</script>
</body>
</html>
