<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div id="ttt" th:fragment="tables(logi)">
    <table class="table table-block table-secondary table-striped table-hover table-bordered text-center caption-top table-sm"
           id="tab">
        <caption>Логи</caption>
        <thead>
        <tr>
            <th>Дата</th>
            <th>Пользователь</th>
            <th>Тип</th>
            <th>Текст</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${logi}">
            <td th:text="${l.date}">
            </td>
            <td th:text="${l.user}">
            </td>
            <td th:text="${l.type}">
            </td>
            <td th:text="${l.text}">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="aaa" th:fragment="blocks(logerrs)">
    <table class="table table-block table-secondary table-striped table-hover table-bordered text-center caption-top table-sm"
           id="block">
        <caption>Управление пользователями</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Пользователь</th>
            <th>Попытки</th>
            <th>Последняя попытка</th>
            <th>Разблокировать</th>
            <th>Заблокировать</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${logerrs}">
            <th th:text="${l.id}">
            </th>
            <td th:text="${l.login}">
            </td>
            <td th:text="${l.active}">
            </td>
            <td th:text="${l.date_last_entry}">
            </td>
            <td>
                <a class="btn btn-secondary" th:value="${l.id}" name="clear">Разблокировать</a>
            </td>
            <td>
                <a class="btn btn-secondary" th:value="${l.id}" name="zablock">Заблокировать</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>