#tableContract, #tableContract td, #tableContract th, #modalDopContainerContent, #modalDopContainerContent td, #modalDopContainerContent th{
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 2px solid gray;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    text-align: center;
    padding: 2px;
}

#tableContract th{
    color: gray;
}

#tableContract table, #tableContract table td, #tableContract table th{
    border: none;
}

#contractAdd .row{
    margin-bottom: 3px;
}
#contractAdd input{
    height: 25px;
    border: 1px outset #dfe2e5;
}

.input-field {
    margin: 0;
}

#notifications a, #containerNotification a, #documentsViev a{
    height: 23px;
    line-height: 23px;
    width: 23px;
    padding: 0;
}
a[href="#modalKontragent"] {
    height: 23px;
    line-height: 23px;
}

#contractAdd .row .col.s12.row .col.s6{
    text-align: center;
}

[type="checkbox"]+span.marginonospan:not(.lever) {
    padding-left: 20px;
    height: 20px;
}